<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>language</string>
		<key>Title</key>
		<string>Translate to</string>
		<key>Titles</key>
		<array>
			<string>System Language</string>
			<string>AFRIKAANS</string>
			<string>ALBANIAN</string>
			<string>AMHARIC</string>
			<string>ARABIC</string>
			<string>ARMENIAN</string>
			<string>AZERBAIJANI</string>
			<string>BASQUE</string>
			<string>BELARUSIAN</string>
			<string>BENGALI</string>
			<string>BIHARI</string>
			<string>BULGARIAN</string>
			<string>BURMESE</string>
			<string>CATALAN</string>
			<string>CHEROKEE</string>
			<string>CHINESE</string>
			<string>CHINESE_SIMPLIFIED</string>
			<string>CHINESE_TRADITIONAL</string>
			<string>CROATIAN</string>
			<string>CZECH</string>
			<string>DANISH</string>
			<string>DHIVEHI</string>
			<string>DUTCH</string>
			<string>ENGLISH</string>
			<string>ESPERANTO</string>
			<string>ESTONIAN</string>
			<string>FILIPINO</string>
			<string>FINNISH</string>
			<string>FRENCH</string>
			<string>GALICIAN</string>
			<string>GEORGIAN</string>
			<string>GERMAN</string>
			<string>GREEK</string>
			<string>GUARANI</string>
			<string>GUJARATI</string>
			<string>HEBREW</string>
			<string>HINDI</string>
			<string>HUNGARIAN</string>
			<string>ICELANDIC</string>
			<string>INDONESIAN</string>
			<string>INUKTITUT</string>
			<string>ITALIAN</string>
			<string>JAPANESE</string>
			<string>KANNADA</string>
			<string>KAZAKH</string>
			<string>KHMER</string>
			<string>KOREAN</string>
			<string>KURDISH</string>
			<string>KYRGYZ</string>
			<string>LAOTHIAN</string>
			<string>LATVIAN</string>
			<string>LITHUANIAN</string>
			<string>MACEDONIAN</string>
			<string>MALAY</string>
			<string>MALAYALAM</string>
			<string>MALTESE</string>
			<string>MARATHI</string>
			<string>MONGOLIAN</string>
			<string>NEPALI</string>
			<string>NORWEGIAN</string>
			<string>ORIYA</string>
			<string>PASHTO</string>
			<string>PERSIAN</string>
			<string>POLISH</string>
			<string>PORTUGUESE</string>
			<string>PUNJABI</string>
			<string>ROMANIAN</string>
			<string>RUSSIAN</string>
			<string>SANSKRIT</string>
			<string>SERBIAN</string>
			<string>SINDHI</string>
			<string>SINHALESE</string>
			<string>SLOVAK</string>
			<string>SLOVENIAN</string>
			<string>SPANISH</string>
			<string>SWAHILI</string>
			<string>SWEDISH</string>
			<string>TAJIK</string>
			<string>TAMIL</string>
			<string>TAGALOG</string>
			<string>TELUGU</string>
			<string>THAI</string>
			<string>TIBETAN</string>
			<string>TURKISH</string>
			<string>UKRAINIAN</string>
			<string>URDU</string>
			<string>UZBEK</string>
			<string>UIGHUR</string>
			<string>VIETNAMESE</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string></string>
			<string>af</string>
			<string>sq</string>
			<string>am</string>
			<string>ar</string>
			<string>hy</string>
			<string>az</string>
			<string>eu</string>
			<string>be</string>
			<string>bn</string>
			<string>bh</string>
			<string>bg</string>
			<string>my</string>
			<string>ca</string>
			<string>chr</string>
			<string>zh</string>
			<string>zh-CN</string>
			<string>zh-TW</string>
			<string>hr</string>
			<string>cs</string>
			<string>da</string>
			<string>dv</string>
			<string>nl</string>
			<string>en</string>
			<string>eo</string>
			<string>et</string>
			<string>tl</string>
			<string>fi</string>
			<string>fr</string>
			<string>gl</string>
			<string>ka</string>
			<string>de</string>
			<string>el</string>
			<string>gn</string>
			<string>gu</string>
			<string>iw</string>
			<string>hi</string>
			<string>hu</string>
			<string>is</string>
			<string>id</string>
			<string>iu</string>
			<string>it</string>
			<string>ja</string>
			<string>kn</string>
			<string>kk</string>
			<string>km</string>
			<string>ko</string>
			<string>ku</string>
			<string>ky</string>
			<string>lo</string>
			<string>lv</string>
			<string>lt</string>
			<string>mk</string>
			<string>ms</string>
			<string>ml</string>
			<string>mt</string>
			<string>mr</string>
			<string>mn</string>
			<string>ne</string>
			<string>no</string>
			<string>or</string>
			<string>ps</string>
			<string>fa</string>
			<string>pl</string>
			<string>pt-PT</string>
			<string>pa</string>
			<string>ro</string>
			<string>ru</string>
			<string>sa</string>
			<string>sr</string>
			<string>sd</string>
			<string>si</string>
			<string>sk</string>
			<string>sl</string>
			<string>es</string>
			<string>sw</string>
			<string>sv</string>
			<string>tg</string>
			<string>ta</string>
			<string>tl</string>
			<string>te</string>
			<string>th</string>
			<string>bo</string>
			<string>tr</string>
			<string>uk</string>
			<string>ur</string>
			<string>uz</string>
			<string>ug</string>
			<string>vi</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>medium</string>
		<key>Key</key>
		<string>fontSize</string>
		<key>MaximumValue</key>
		<real>72</real>
		<key>MinimumValue</key>
		<real>16</real>
		<key>Title</key>
		<string>Font Size</string>
		<key>Titles</key>
		<array>
			<string>Medium</string>
			<string>Large</string>
			<string>X-Large</string>
			<string>XX-Large</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>medium</string>
			<string>large</string>
			<string>x-large</string>
			<string>xx-large</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Font Color</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>red</string>
		<key>MaximumValue</key>
		<real>255</real>
		<key>Title</key>
		<string>Red</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>green</string>
		<key>MaximumValue</key>
		<real>255</real>
		<key>Title</key>
		<string>Green</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>blue</string>
		<key>MaximumValue</key>
		<real>255</real>
		<key>Title</key>
		<string>Blue</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Background Color</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>251</real>
		<key>Key</key>
		<string>backgroundRed</string>
		<key>MaximumValue</key>
		<real>255</real>
		<key>Title</key>
		<string>Red</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>252</real>
		<key>Key</key>
		<string>backgroundGreen</string>
		<key>MaximumValue</key>
		<real>255</real>
		<key>Title</key>
		<string>Green</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>197</real>
		<key>Key</key>
		<string>backgroundBlue</string>
		<key>MaximumValue</key>
		<real>255</real>
		<key>Title</key>
		<string>Blue</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
</array>
</plist>
